:root {
    --mainColor: #f2f2f2;
    --subColor: #ffffffbf;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
}


h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    color: var(--mainColor);
}

p {
    color: var(--subColor);
}

.second-container {
    max-width: 70%;
}

/* SEDAN SETTINGS */

#sedan-container {
    background-color: #e38826;
}  

#sedan-container button {
    color: #e38826;
    width: 37.5%;
    margin: 1rem 0 2.25rem 3.25rem;
    padding: 0.50rem 0.5rem;
    border: none;
    border-radius: 2rem;
    
}

/* SUV SETTINGS */

#suv-container {
   background-color: #006970;
}

#suv-container button {
    color: #006970;
    width: 37.5%;
    margin: 1rem 0 2.25rem 3.25rem;
    padding: 0.50rem 0.5rem;
    border: none;
    border-radius: 2rem;
    
}


/* LUXURY SETTINGS */

#luxury-container {
    background-color: #004241;
}

#luxury-container button {
    color: #004241;
    width: 37.5%;
    margin: 1rem 0 2.25rem 3.25rem;
    padding: 0.50rem 0.5rem;
    border: none;
    border-radius: 2rem;
    
}
